<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/styles.css">
    <title><%=job[0].name %> | Close <%= job[0].jobname %> </title>
</head>
<body>
    <div class="title">
        <h1>This will Close <%= job[0].jobname %> From <%=job[0].name %></h1>
        <h2>Are You Sure You Want to Do this?</h2>
    </div>
    <div class="links">
        <form action="/auth/close/<%=job[0].name %>/job/<%= job[0].job_id %>" method = "POST">
            <button>Yes</button>
        </form>
        <a href="/home">No</a>
    </div>
</body>
</html>