<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/styles.css">
    <title><%= job[0].name %> | <%= job[0].jobname %></title>
</head>
<body>
    <div class="nav">
        <form action="/auth/logout" method = "POST">
            <div class="logout"">
                <button>Logout</button>
            </div>
        </form>
        <form action="/editjob/<%= job[0].jobname %>" method = "GET">
            <div class="edit-workstation">
                <button>Edit Job</button>
            </div>
        </form>
        <form action="/delete/<%= job[0].jobname %>" method = "GET">
            <div class="delete-workstation">
                <button>Close Job</button>
            </div>
        </form>
    </div>
    <div class="ws-title">
        <a href = "/home/<%= job[0].name %>"><%= job[0].name %></a>
    </div>
    <div class="title">
        <h1><%= job[0].jobname %></h1>
    </div>
    <div class="subtitle">
        <a href="/<%= job[0].jobname %>/addnote" target = "_blank" onclick = "window.open('/<%= job[0].jobname %>/addnote', 'name', 'width=650, height=400')"">Add note</a>
    </div>
    <div class="description">
        <h3>Description:</h3>
        <p><%= job[0].description %></p>
    </div>
</body>
</html>