<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/styles.css">
    <title>CMS | <%= device[0].name %></title>
</head>
<body>
    <div class="nav">
        <form action="/auth/logout" method = "POST">
            <div class="logout"">
                <button>Logout</button>
            </div>
        </form>
        <div class="back">
            <a href="/home">Home</a>
        </div>
        <form action="/delete/<%= device[0].name %>" method = "GET">
            <div class="delete-workstation">
                <button>Delete Workstation</button>
            </div>
        </form>
        <form action="/edit/<%= device[0].name %>" method = "GET">
            <div class="edit-workstation">
                <button>Edit Workstation</button>
            </div>
        </form>
    </div>
    <div class="device-title">
        <h1><%= device[0].name %></h1>
    </div>
    <div class="details">
        <div class="os-section">
            <h3>OS:</h3>
            <p><%= device[0].os %></p>
        </div>
        <div class="spec-section">
            <h3>Spec:</h3>
            <p><%= device[0].spec %></p>
        </div>
        <div class="storage-section">
            <h3>Storage:</h3>
            <p><%= device[0].storage %></p>
        </div>
    </div>
    <div class="add-job">
        <a href="/addjob/<%= device[0].name %>">Add Job</a>
    </div>
</body>
</html>